#flx
{
    height: 500px;
    width:500px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center;
   flex-direction:row;

}
.items
{
    flex-basis: 100px;
    background-color: aquamarine;
    /* flex-grow: 2; */
    /* flex-shrink: 3;   */
}
#flx div:nth-of-type(2)
{
   /* flex-grow: 3; */
    flex-shrink: 3;
}
img
{
    height: 100px;
    width: 100px;
}